.main{
    background-image: url(../background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
.users{
    display: grid;
    grid-template-columns: repeat(2, 450px);
    gap: 45px;
    justify-content: center;
    margin-bottom: 30px;
 
}

.users{
    grid-template-columns: repeat(1, 450px);
}

.user{
    border: 2px solid rgb(255, 255, 255) ;
    border-radius: 5px;
    padding: 5px;;
    position: relative;
    background-color: #19dafc;
}

.user:hover{
    border: 3px solid rgb(246, 255, 0) ;
    padding: 8px;
}

h1{
    text-align: center;
    padding: 10px ;
    color: #fafa02;
    font-style: italic;
}

span {
    font-weight: bold;
    text-decoration:underline;
}